
#form{
    background-image: url(../images/form.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20vw;
    text-align: center;
    color: white;
    height:35vw;
    background-repeat: no-repeat;
}
.blur{
    background-color:rgba(0,0,0,0.3);
}

#form .bord{
    border: 5px solid black;
    width: 20vw;
    height: 10vw;
    margin: auto;
    padding-bottom: 3vw;
    padding-top: 3vw;
}
#form #button{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color:red;
    color: white;
    border:none;
    margin-top: 1vw;
}

#form input{
    /* padding: 0.5vw 1vw 0.5vw 1vw; */
    margin-top: 1vw;
    height: 2vw;
    width: 10vw;
}